* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 15px;
    height: 50px;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 100px;
    margin-top: 20px;
}

.weather h3 {
    font-size: 40px;
    font-weight: 400;
}

.weather h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 30px;
    flex-direction: column;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.col img {
    width: 30px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 20px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media (min-width: 480px) {
    .card {
        padding: 40px 35px;
    }

    .search {
        flex-direction: col;
    }

    .search input {
        height: 60px;
        padding: 10px 25px;
        font-size: 18px;
        margin-right: 16px;
        margin-bottom: 0;
    }

    .search button {
        width: 60px;
        height: 60px;
    }

    .weather-icon {
        width: 170px;
    }

    .weather h3 {
        font-size: 60px;
    }

    .weather h1 {
        font-size: 65px;
    }

    .details {
        flex-direction: row;
        padding: 0 20px;
    }

    .col {
        width: auto;
        margin-bottom: 0;
    }

    .col img {
        width: 40px;
    }

    .humidity, .wind {
        font-size: 28px;
    }
}
